@* Boton cancelar *@
<a href="@UrlVolver"
   class="btn btn-outline-danger">
    <i class="bi bi-x-circle"></i> &nbsp;
    Volver
</a>

@code {
    [Parameter] public string UrlVolver { get; set; }
}
