<div class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="assets/cecytej-logo.png" alt="logo-cecytej" style="max-width: 35%; height: auto;" />
        </a>
    </div>
</div>



<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color: #ececec;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All">
                <img src="assets/hogar.png" alt="logo-cecytej" width="22" height="22" class="me-2"> 
                Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="counter">
                <img src="assets/usuario.png" alt="logo-cecytej" width="22" height="22" class="me-2">
               Alumnos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="Pagos">
                <img src="assets/pagar.png" alt="logo-cecytej" width="22" height="22" class="me-2"> 
                Pagos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="Reportes">
                <img src="assets/iconReportes.png" alt="logo-cecytej" width="22" height="22" class="me-2">
                Reportes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-black" href="CotejamientoPagos">
                <img src="assets/pagar.png" alt="logo-cecytej" width="22" height="22" class="me-2">
                Cotejamiento de Pagos
            </NavLink>
        </div>
    </nav>
</div>
