<a href="@Url" class="btn btn-sm btn-light">
    <div class="card p-2 bg-light" style="width: 10rem;">
        <img src="/img/iconos/@Icono" class="card-img-top">
        <div class="card-body">
            <p class="card-text">@Texto</p>
        </div>
    </div>
</a>


@code {
    [Parameter] public string Texto { get; set; }
    [Parameter] public string Icono { get; set; }
    [Parameter] public string Url { get; set; }
}