@inject NavigationManager NavigationManager

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <p class="fs-4">@Titulo</p>
</div>
<br />

@code {
    [Parameter] public string Titulo { get; set; }
}