@page "/Reportes"
@inject CecytekContext Contexto
@inject NavigationManager NavigationManager


<TituloPagina Titulo="Reportes" />

<div class="row">
    <div class="col-sm-6">
        <Card>
            <CardBody>
                <CardTitle>Reporte por grupo</CardTitle>
                <button class="btn btn-primary" @onclick="NavegarAIndexGrupos">Generar reporte</button>

            </CardBody>
        </Card>
    </div>
    <div class="col-sm-6">
        <Card>
            <CardBody>
                <CardTitle>Reporte general</CardTitle>
                <button class="btn btn-primary" @onclick="NavegarReporteGeneral">Generar reporte</button>
              
            </CardBody>
        </Card>
    </div>
   
    <div class="col-sm-6 mt-3">
        <Card>
            <CardBody>
                <CardTitle>Reporte por alumno</CardTitle>
                <button class="btn btn-primary" @onclick="NavegarReportePorAlumno">Generar Reporte</button>
            </CardBody>
        </Card>
    </div>
</div>

@code {
    private void NavegarAIndexGrupos()
    {
        NavigationManager.NavigateTo("/IndexGrupos");
    }
    private void NavegarReporteGeneral()
    {
        NavigationManager.NavigateTo("/ReporteGeneral");
    }
    private void NavegarReportePorAlumno()
    {
        NavigationManager.NavigateTo("/ReportePorAlumno");
    }
}
