@page "/ReportePorAlumno"
@inject CecytekContext Contexto
@inject NavigationManager NavigationManager

<TituloPagina Titulo="Reporte por alumno" />

<div class="d-flex justify-content-center align-content-center">
    <InputText @bind-Value="Busqueda" placeholder="Buscar alumno" class="m-2" />
    <button class="btn btn-primary m-3" @onclick="BuscarAlumno">Buscar</button>
</div>



@code {

    private string Busqueda { get; set; }


    private async Task BuscarAlumno()
    {
        try
        {
            int idalumno;
            if (int.TryParse(Busqueda, out idalumno))
            {
                // Si la conversión es exitosa, navegar con el ID de alumno.
                NavigationManager.NavigateTo($"/PaginaAlumnos/Alumnos/Info/{idalumno}");
            }
        } catch (Exception ex)
        {
            await Application.Current.MainPage.DisplayAlert("Error", "No se pudo buscar el alumno" + ex, "Ok");
        }

    }
}

